* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, monospace;
}

body {
    background: #f5f6fa;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    background: #fff;
    padding: 30px;
    border-radius: 20px;
    width: 100%;
    max-width: 420px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);

    display: flex;
    flex-direction: column;
    align-items: center;
}


.input-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}


input, select {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
}


.button-group {
    display: flex;
    gap: 12px;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
}


button {
    flex: 1;
    padding: 12px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background: #f0f779;
}


#login-btn {
    background: black;
    color: white;
}

#login-btn:hover {
    background: #4f4d4d;
}

button:hover {
    background:  #d4d449;
}

h2 {
    text-align: center;
    margin-bottom: 12px;
}
