* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, monospace;
}

body {
    background: #e4e5e7;
    display: flex;
    justify-content: center;
    padding: 40px 15px;
}

.container {
    background: #fff;
    padding: 25px;
    border-radius: 20px;
    width: 100%;
    max-width: 850px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}


.input-section {
    display: flex;
    flex-direction: column; 
    gap: 20px;
    margin-bottom: 20px;
}
.input-section button {
    width: 100%;             
    max-width: 200px;     
    padding: 10px;
    background: #252424;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 300px;
}
#export-csv-btn{
    background:#f0f779;
    color:black;
}
#export-csv-btn:hover {
    background: #d4d449;
}
.input-section button:hover {
    background: #4f4d4d;
}

.control-section {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

input, select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    flex: 1;
    min-width: 150px;
}

button {
    padding: 10px 18px;
    background: #252424;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}
button:hover { background: #4f4d4d;}


table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}
.table-container {
    width: 100%;
    overflow-x: auto;
}

.delete-btn {
    background: crimson;
    padding: 6px 10px;
    border-radius: 6px;
    color: white;
    border: none;
    cursor: pointer;
}
.delete-btn:hover { background: #b30000; }

.chart-container {
    width: 60%;
    max-width: 350px;
    margin: 20px auto;
}

canvas {
    width: 100% !important;
    height: auto !important;
}





@media (max-width: 768px) {
    .input-section, .control-section {
        flex-direction: column;
    }

    button {
        width: 50%;
        margin: 0 auto;
    }
.input-section button{
    width: 50%;
        margin: 0 auto;
}
    th, td {
        font-size: 14px;
        padding: 8px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 22px;
    }

    input, select {
        font-size: 14px;
    }
}
